.blog-card {
    display: grid;
    grid-template-columns: 195px auto;
    gap: 2rem;
}

.blog-card .img-wrapper {
    width: 195px;
    min-height: 150px;
}

.blog-card .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.blog-card .content h1 {
    font-size: 1.5rem;
}

.blog-card .content p {
    color: #222222;
    opacity: .8;
    font-size: 15px;
}


.blog-card .content a {
    border-radius: 20px;
}

.blog-card .content a:hover {
    color: #fff;
}

.blog-item .img-wrapper {
    width: 100%;
    height: 400px;
}

.blog-item .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}